<ion-header>

	
</ion-header>

<ion-content>
	<ion-tabs>

		<ion-tab-bar slot="bottom">

			<ion-tab-button tab="characters">
				<ion-icon name="character"></ion-icon>
				<ion-label>Character</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="death-count">
				<ion-icon name="death-count"></ion-icon>
				<ion-label>Death Count</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="quotes">
				<ion-icon name="quotes"></ion-icon>
				<ion-label>Quotes</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="episodes">
				<ion-icon name="episodes"></ion-icon>
				<ion-label>Episodes</ion-label>
			</ion-tab-button>
            <ion-tab-button tab="camera">
				<ion-icon name="camera"></ion-icon>
				<ion-label>Camera</ion-label>
			</ion-tab-button>
		</ion-tab-bar>

	</ion-tabs>
</ion-content>